/* styles/login.css */

.login-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
    background:#c5c5c5;
	font-family: Arial, sans-serif;
}

.login-form {
	background: white;
	padding: 40px 30px;
	border-radius: 12px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	width: 100%;
	max-width: 400px;
}

.login-form h2 {
	text-align: center;
	margin-bottom: 24px;
	color: #333;
}

.login-form label {
	display: block;
	margin-bottom: 8px;
	font-weight: bold;
	color: #555;
}

.login-form input {
	width: 100%;
	padding: 12px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 6px;
	transition: border-color 0.3s;
}

.login-form input:focus {
	border-color: #902121;
	outline: none;
}

.login-form button {
	width: 100%;
	padding: 12px;
	background-color: #902121;
	color: white;
	border: none;
	border-radius: 6px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.login-form button:hover {
	background-color: #502121;
}
